doctype html
html
  head
    title Kuldeep Dance Academy
    block scripts
    block style
      
      
  body
    nav.top#navbar
      ul
        div#logo  
           img(src="/static/img/logo.png")
           | KDA
        li #[a(href ='/') Home] 
        li #[a(href ='/') About ]
        li #[a(href ='/') Services] 
        li #[a(href ='/') Class Info] 
        li #[a(href ='/contact') Contact Us]
    block content
    footer#footer 
        | copyright ©  2021 Kuldeep Dance Academy | All Rights Reserved  